<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.webapparchitecture.AddUserServlet</servlet-class>
        <init-param>
        <param-name>debug</param-name>
        <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>SelectAllServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.webapparchitecture.SelectAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectAllServlet</servlet-name>
        <url-pattern>/select</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.webapparchitecture.UpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.webapparchitecture.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>SelectByIdServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.webapparchitecture.SelectByIdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectByIdServlet</servlet-name>
        <url-pattern>/selectone</url-pattern>
    </servlet-mapping>


</web-app>